body {
  height: 100%;
  width: 100%;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
    
}

.interests {
  height: 6rem;
  width: 15rem;
  border: 0.5rem solid gold;
  padding: 0.5rem;
  margin: 1rem;
}
  
* {
  box-sizing: border-box;
}

.title-variance {
  color: orange;
}

#todos-container {
  margin-top: 1rem;
  border: 0.3rem dotted orange;
  border-radius: 0.5rem;
}

input.todo-input {
  margin-top: 2rem;
}

.interests:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.navbar {
  padding: 1.2rem 0;

}

#nav-logo {
  width: 75px;
}

.navbar-end {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item {
  align-items: center;
  display: flex;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400 !important;
  cursor: pointer;
}

#navbar-item-project {
  color: #141c3a;
}

#navbar-item-project:hover {
  color: #6E07F3;
  cursor: pointer;
}

.button-purp {
  background-color: transparent;
  border: 2px solid #6E07F3;
  text-decoration: none;
  color: #6E07F3;
  padding: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  height: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: top;
  display: inline-flex;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-weight: 400;
}

.button-purp:hover {
  background-color: #6E07F3;
  color: white;
}

.hero {
  background-color: #ffffff;
  color: #0a0a0a;
  align-items: stretch;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center !important;
}

.hero-body {
  padding: 3rem 3rem;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  vertical-align: baseline;
  text-align: center !important;
}

.columns {
  justify-content: center;
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  padding: 0.75rem;
  margin-bottom: -0.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  text-align: center !important;
}

.title {
  color:#141c3a;
  font-weight: 800;
  font-size: 3rem !important;
  line-height: 1.125;
  word-break: break-word;
  display: block;
}

.subtitle {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.5rem;
  word-break: break-word;
}

.avatar {
  width: 210px;
  margin: 2rem 0;
  height: auto;
  max-width: 100%;
  overflow: clip;
}

.hero-foot {
  padding: 0rem 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
}

.is-bottom {
  margin-bottom: -0.45rem;
  max-width: 860px;
  height: auto;
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section {
  padding-bottom: 18rem;
  background-color: #6E07F3;
  color: white;
  padding: 9rem 4.5rem;
  text-align: center !important;
  display: block;
}

.section-title {
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 2rem !important;
  line-height: 1.125;
  word-break: break-word;
}

.section-subtitle {
  line-height: 1.5;
  font-weight: 400 !important;
  font-size: 1.25rem;
  word-break: break-word;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.extra-side-padding {
  padding-left: 15rem;
  padding-right: 15rem;
}

.inline-links {
  display: inline;
  align-items: stretch;
}

.carousell {
  
}